.project {
    margin: 9rem 0 3rem;
    &__header {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1.25rem;
    }
    &__title {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 2.5rem;
    }
    &__text {
        padding-right: 1rem;
        margin-bottom: 0.5rem;
    
    }
}