.services {
    margin-bottom: 5rem;
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__container {
        margin: 3rem 0 1.5rem;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 700;
        display: inline-block;
        margin-left: 1.25rem;
        &--large {
            font-size: 2.25rem;
            font-weight: 300;
            color: $blue;
            margin: 0 0 1rem;
        }
    }

    &__icon-border {
        width: 4rem;
        height: 4rem;
        border: 1px solid $light-gray;
        border-radius: 50%;
        display: inline-block;
        padding: 0.5rem;
    }
    
}